<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<header>
    <a href="/"><img src="{% static 'logo.jpg'%}" alt="logo" class="logo"></a>
    <a class="name" href="/">ТудаСюда</a>
    <a href="/login" class="log">{{login}}</a>
</header>

{% for route in routes %}
<div class="containers" id="{{route.0}}">
    <p class="author-name">{{route.3}}</p>
    <b>{{route.1}}</b>
    <img src="data:image/gif;base64,{{route.4}}">
    <p>{{route.2}}</p>
</div>
{% endfor %}

<div class="div">
    <a href="/"><img src="{% static 'home.png'%}" id="home"></a>
    <a href="/search"><img src="{% static 'search.png'%}" id="search"></a>
    <a href="/create"><img src="{% static 'add.png'%}" id="create"></a>
    <a href="/map"><img src="{% static 'map.png'%}" id="map"></a>
    <a href="/profile"><img src="{% static 'profile.png'%}" id="profile"></a>
</div>
</body>
</html>