<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/login.css'%}">
    <meta charset="UTF-8">
    <title>Войти</title>
</head>
<body>
    <p class="cent"><a href="/"><img src="{% static 'logo.jpg'%}" alt="logo" class="logo"></a></p>
    <!--<a class="name" href="/">ТудаСюда</a>-->
    <p class="input">Вход</p>
<form method="post" id="inputForm" novalidate>
    {% csrf_token %}
    <p class="cent">{{ form.name }}</p>
    <p class="cent">{{ form.password }}</p>
    <p class="error">{{out}}</p>
 <p class="cent"> <input type="submit" id="button" value="Войти"></p>
</form>
<p class="reg">Еще нет аккаунта, <a href="/registration" class="create">создайте</a></p>
</body>
</html>