<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
</head>
<body>
<!-- mass.net<header>
    <a href="/"><img src="{% static 'logo.png'%}" alt="logo" class="logo"></a>
    <a class="name" href="/">ТудаСюда</a>
    <a href="/login" class="log">{{login}}</a>
</header> -->
<b>{{userList.0}}</b>
<img src="data:image/gif;base64,{{userList.2}}">
<p>{{userList.1}}</p>
{% for route in routes %}
<div class="containers" id="{{route.0}}">
    <b>{{route.1}}</b>
    <img src="data:image/gif;base64,{{route.4}}">
</div>
{% endfor %}
</body>
</html>