<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<header>
    <a href="/"><img src=ЛОГО alt="logo" class="logo"></a>
    <a class="name" href="/">ТудаСюда</a>
</header>
        <p class="input">Регистрация</p>
<form method="post" id="inputForm">
    {% csrf_token %}
    {{ form.name }}
    {{ form.password }}
    {{ form.password1 }}
    {{ form.email }}
    <p class="error">{{out}}</p>
    <input type="submit" id="button" value="Зарегистрироваться">
</form>

</body>
</html>